@using BlazorServerChat2.Pages.Shared
@using BlazorServerChat2.Shared
@inject NavigationManager NavigationManager
<FluentDesignSystemProvider @ref="DesignSystemProvider" AccentBaseColor="#185ABD" BaseLayerLuminance="(float)0.98" Style="height:100%">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @{
                            var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
                            <RedirectToLogin ReturnUrl="@returnUrl" />
                        }

                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
</FluentDesignSystemProvider>

@code {
    public static FluentDesignSystemProvider? DesignSystemProvider { get; set; }
}