@page "/log"
@using BlazorServerChat2.Data

@inject ApplicationDbContext DbContext
<h3>あびやログ</h3>
@*<RadzenDataGrid Data=@chats TItem="Chat">
    <Columns>
        <RadzenDataGridColumn TItem="Chat" property="Time" Title="投稿時刻" Width="20%"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Chat" property="Name" Title="名前" Width="20%"></RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Chat" property="Message" Title="投稿内容">
            <Template Context="data">
                @if (data.Message.StartsWith("[ほのか]"))
                {
                    @((MarkupString)data.Message)
                }
                else
                {
                    @data.Message
                }
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>
*@
<FluentDataGrid Items="@chats.AsQueryable()" GridTemplateColumns="0.5fr 0.5fr 2fr">
    <PropertyColumn Property="@(p => p.Time)" Format="yyyy/MM/dd HH:mm:ss" Title="投稿時刻" />
    <PropertyColumn Property="@(p => p.Name)" Title="名前" />
<TemplateColumn Title="投稿内容" Class="multiline-text">
<ChildContent>
        @if (context.Message.StartsWith("[ほのか]"))
        {
            @((MarkupString)context.Message)
        }
        else
        {
            @context.Message
        }
    </ChildContent>
</TemplateColumn>
</FluentDataGrid>

@code {
    IEnumerable<Chat> chats;

    protected override void OnInitialized()
    {
        chats = DbContext.Chats.OrderByDescending(x => x.Time).ToList();
    }

}
